@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-fuzzy {
        font-weight: bold;
        /*font-family: 'Rubik Beastly', serif;*/
    }

    .bg-fur {
        /*@apply bg-[url('/furOptimized.jpg')] bg-cover*/
        /*@apply bg-[url('/snake.jpg')] bg-cover*/
        @apply bg-[url('/ilze37.jpeg')];
        background-size: 500px auto;
        /*@apply bg-[url('/halloween2.webp')] bg-cover*/
    }

    .bg-taylor {
        @apply bg-[url('/bgTaylor.webp')]
    }
  }