@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0b0a0a;
}

@layer base {
  :root {
    --game-100: #f9c7ff;
    --game-200: rgb(251 207 232);
    --game-400: #f2adfa;
    --game-500: #81358a;
    /*--game-question-modal-timer: #f9c7ff;*/
  }

  html[data-theme='mint'] {
    body {
      color: #fff;
    }

    --game-100: #d422e7;
    --game-200: #c514d8;
    --game-400: #c514d8;
    --game-500: #81358a;
    /*--game-question-modal-timer: #d422e7;*/
  }
}

@layer utilities {
  .font-fuzzy {
    font-weight: bold;
    /*font-family: 'Rubik Beastly', serif;*/
  }

  .bg-fur {
    @apply bg-[url('/furOptimized.jpg')];
    /*@apply bg-[url('/snake.jpg')] bg-cover;*/
    /*@apply bg-[url('/ilze37.jpeg')];*/
    background-size: 500px auto;
    /*@apply bg-[url('/halloween2.webp')] bg-cover*/
  }

  .bg-taylor {
    @apply bg-[url('/bgTaylor.webp')];
  }
}
