@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0b0a0a;
}

@layer base {
  :root {
    --game-grey: rgb(212 212 216);
    --game-100: #f9c7ff;
    --game-200: rgb(251 207 232);
    --game-400: #f2adfa;
    --game-500: #81358a;
  }



  html[data-theme='mint'] > body {
    color: #fff;
  }
  html[data-theme='mint'] {
    /*body {*/
    /*  color: #fff;*/
    /*}*/
    /*--game-grey: rgb(212 212 216);*/
    /*--game-100: #d422e7;*/
    /*--game-200: #c514d8;*/
    /*--game-400: #c514d8;*/
    /*--game-500: #81358a;*/
    --game-grey: rgb(212 212 216);
    --game-100: #ee4605;
    --game-200: #26c1d6;
    --game-400: #d81448;
    --game-500: #2a819c;
  }

/*  html[data-theme='newYear'] {
    body {
      color: #fff;
    }
    --game-grey: #efbf04;
    --game-100: #efbf04;
    --game-200: #660033;
    --game-400: #660033;
    --game-500: #550a2c;
  }*/
}

@layer utilities {
  .font-fuzzy {
    font-weight: bold;
    /*font-family: 'Rubik Beastly', serif;*/
  }

  .bg-fur {
    @apply bg-[url('/furOptimized.jpg')];
    @apply bg-[url('/vacation.png')];
    background-size: 500px cover;
    /*background-repeat: no-repeat;*/
    /*background-position: center top;*/
    /*@apply bg-[url('/halloween2.webp')] bg-cover*/
  }

  .bg-taylor {
    @apply bg-[url('/bgTaylor.webp')];
  }

  .pos-abt-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
