@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /*.font-fuzzy {*/
        /*font-family: 'Rubik Beastly', serif;*/
    /*}*/

    .bg-home {
        @apply bg-[url('/furOptimized.jpg')] bg-cover
    }

    .bg-main-game {
        /*background-image: url(/anete-water-queen.heic), url(/underwater_1.jpg);*/
        /*background-position: center center, center center;*/
        /*background-repeat: no-repeat, no-repeat;*/
        @apply bg-[url('/anete-water-queen.heic')] bg-center;
        background-size: 10% auto;
        /*@apply bg-[url('/furOptimized.jpg')] bg-cover*/
        /*@apply bg-[url('/anete-water.heic')]  bg-center bg-contain ;*/
        /*@apply bg-[url('/underwater_1.jpg')]  bg-center bg-contain bg-no-repeat*/
        /*@apply bg-[url('/snake.jpg')] bg-cover*/
        /*@apply bg-[url('/halloween2.webp')] bg-cover*/
    }

    .bg-taylor {
        @apply bg-[url('/bgTaylor.webp')]
    }
  }